extends layout.pug

block content

  // Route to front page
  nav.nav
    a(href='/')
      span &larr;
      |  Back

  // About me page information
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Mariam Kisto

        p Full Stack JavaScript Developer


        .about-bio

          p My name is Mariam Kisto and I graduated with the class of 2024 from George Washington High School. I've been learning to code since 6th grade and have improved my skills ever since. I started out with Girls Who Code and that has led me to joining the WV Coding Club! I'm completing the Full Stack JavaScript TechDegree through them and I couldn't be more thankfully for their support and belief in me. Since i've joined, we've participated in the 2019, 2020, 2021, and 2022 Congressional App Challenges and had won four consecutive years! I plan on going to Penn State and majoring in Computer Science to grow my skills and apply them to the real world. I hope you enjoy my porfolio, which I will continue to update as I complete new projects!


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 3049892547
          li mariam.kisto@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/mariam-k-6b91a7288/') LinkedIn
        a.btn-link(href='https://github.com/mariam-mimi') GitHub
        a.btn-link(href='https://www.instagram.com/mariamkisto/') Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back