extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Mariam Kisto

        p Full Stack JavaScript Developer


        .about-bio

          p This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 3049892547
          li mariam.kisto@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/mariam-k-6b91a7288/') LinkedIn
        a.btn-link(href='https://github.com/mariam-mimi') GitHub
        a.btn-link(href='https://www.instagram.com/mariamkisto/') Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back