extends layout.pug

block content

  article.portfolio-intro

    
    h1 Hello, Welcome to my Portfolio!
 
    p This is my first portolio that includes all the projects I have completed so far for the Full Stack JavaScript Techdegre! Feel free to explore the website, learn more about me and discover what each project does!


  article.portfolio-project-thumbs
    .projects-box.box.grid
       each project in projects
        .cell 
          a(href=`/project/${project.id}`) 
            img.thumbnail(src=`${project.homepage_img_url}`, alt=`Thumbnail of ${project.project_name}`) 
            h5= project.project_name